<p id="notice"><%= notice %></p>

<h1>Details</h1>

<table>
  <thead>
    <tr>
      <th>Plan</th>
      <th>Date</th>
      <th>Spot</th>
      <th>Image1</th>
      <th>Image2</th>
      <th>Image3</th>
      <th>Image4</th>
      <th>Image5</th>
      <th>Image6</th>
      <th>Image7</th>
      <th>Image8</th>
      <th>Image9</th>
      <th>Image10</th>
      <th>Text</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |detail| %>
      <tr>
        <td><%= detail.plan_id %></td>
        <td><%= detail.date %></td>
        <td><%= detail.spot %></td>
        <td><%= image_tag detail.image1.to_s %></td>
        <td><%= detail.image2 %></td>
        <td><%= detail.image3 %></td>
        <td><%= detail.image4 %></td>
        <td><%= detail.image5 %></td>
        <td><%= detail.image6 %></td>
        <td><%= detail.image7 %></td>
        <td><%= detail.image8 %></td>
        <td><%= detail.image9 %></td>
        <td><%= detail.image10 %></td>
        <td><%= detail.text %></td>
        <td><%= detail.price %></td>
        <td><%= link_to 'Show', detail %></td>
        <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
        <td><%= link_to 'Destroy', detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail', new_detail_path %>
