<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Personal, Portfolio, Creative,Design"
    />
    
    <meta name="author" content="cosmos-themes" />

    <title>TGD開発</title>

    <!-- favicon -->
    <link href="#" rel="icon" type="image/png" />

    <!--Font Awesome css-->
    <link rel="stylesheet" href="assets template/css/fontawesome-all.css" />

    <!--Bootstrap css-->
    <link
      rel="stylesheet"
      href="assets template/bootstrap-4.3.1-dist/css/bootstrap.css"
    />

    <!--Owl Carousel css-->
    <link rel="stylesheet" href="assets template/css/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="assets template/css/owl.theme.default.min.css"
    />

    <!--Magnific Popup css-->
    <link rel="stylesheet" href="assets template/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets template/css/animate.min.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900%7cOpen+Sans:400,600,700,800"
      rel="stylesheet"
    />

    <!--Add FontAwesome-->
    <link
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
  </head>
  <body>
  <% @details.each do |detail| %>
      <header class="header">
          <a href="" class="title">TGD</a>
          <nav class="navbar navbar-expand-sm navbar-light">
            <div id="menu" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li class="navbar-item">
                  <%= link_to 'プラン作成', new_plan_path %>
                </li>
                <li class="navbar-item">
                  <%= link_to 'マイページ', plans_path %>
                </li>
                <li class="navbar-item">
                  <a href="" class="nav-link">ログアウト</a>
                </li>
              </ul>
            </div>
          </nav>
      </header>
      <div class="wrap">
        <div class="plan_create">
          <div class="title"><h2><%= detail.plan_id %></h2></div>
          <div class="title"><h3><%= detail.date %></h3></div>
          <div class="title"><h3><%= detail.spot %></h3></div>
          <div class="contents">
            <p>プラン詳細</p>
            <h3><%= detail.text %></h3>
          </div>
          <div class="cost">
            <h3><%= detail.price %></h3>
          </div>
          <div class="album">
            <td><%= image_tag @detail.image1.url if @detail.image1? %></td>
            <td><%= image_tag @detail.image2.url if @detail.image2? %></td>
            <td><%= image_tag @detail.image3.url if @detail.image3? %></td>
            <td><%= image_tag @detail.image4.url if @detail.image4? %></td>
            <td><%= image_tag @detail.image5.url if @detail.image5? %></td>
            <td><%= image_tag @detail.image6.url if @detail.image6? %></td>
            <td><%= image_tag @detail.image7.url if @detail.image7? %></td>
            <td><%= image_tag @detail.image8.url if @detail.image8? %></td>
            <td><%= image_tag @detail.image9.url if @detail.image9? %></td>
            <td><%= image_tag @detail.image10.url if @detail.image10? %></td>
          </div>
          <div class="end">
            <%= link_to '/details/new' do %>
              <i class="fas fa-plus-circle plus"></i>
            <%end%>
            <%= link_to edit_detail_path(detail) do%>
              <i class="fas fa-edit plus"></i>
            <%end%>
            <%= link_to '/plans', method: :delete, data: {confirm: '本当に削除しますか？' } do%>
              <i class="fas fa-trash-alt plus"></i>
            <%end%>
          </div>
        </div>
      </div>
    <% break %>
  <% end %>
  </body>
</html>