<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @detail.plan_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @detail.date %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @detail.spot %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @detail.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @detail.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @detail.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @detail.image4 %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @detail.image5 %>
</p>

<p>
  <strong>Image6:</strong>
  <%= @detail.image6 %>
</p>

<p>
  <strong>Image7:</strong>
  <%= @detail.image7 %>
</p>

<p>
  <strong>Image8:</strong>
  <%= @detail.image8 %>
</p>

<p>
  <strong>Image9:</strong>
  <%= @detail.image9 %>
</p>

<p>
  <strong>Image10:</strong>
  <%= @detail.image10 %>
</p>

<p>
  <strong>Text:</strong>
  <%= @detail.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @detail.price %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
